.main {
	width: 100%;
	padding-left: 210px;
	height: 500px;
	box-sizing: border-box;
}
#banner {
	width: 100%;
	height: 340px;
	position: relative;
}
.imglist {
	position: relative;
	width: 100%;
	height: 100%;
}
.imglist li {
	position: absolute;
	left: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.imglist img {
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.pagecontrol {
	position: absolute;
	right: 15px;
	bottom: 10px;
	width: 80px;
	display: flex;
	justify-content: space-between;
}
.pagecontrol li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.8);
}