html,body,div,ul,li,p,h2,h3,h4,a,dl,dt,dd,section,p {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 12px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
ul {
    list-style: none;
}

img {
    display: block;
    border: none;
}
.clear::after {
    display: block;
    height: 0;
    content: "";
    clear: both;
    overflow: hidden;
    visibility: hidden;
}