/* 
* @Author: Marte
* @Date:   2017-08-05 14:24:56
* @Last Modified by:   Marte
* @Last Modified time: 2017-08-21 20:59:52
*/
#shopCar{

}

.shop_location{
    height: 78px;
    position: relative;
    border-bottom: 2px solid #404040;

}
.shop_location .shopcaricon{
    display:block;
    width: 32px;
    height: 30px;
    position: absolute;
    background: url(../images/shop_car_loc.png);
    top: 23px;
    left: 22px;
}
.shop_location ul{
    padding-left: 54px;
}

.shop_location ul li{
    float: left;
    font-size: 12px;
    padding: 0 22px 0 24px;
    height:78px;
    line-height: 78px;
}
.shop_location ul img{
    padding-top: 25px;  
    display: block;
    float: left;
}
.shop_location ul li span{
    font-size: 20px;
    font-style: italic;
}
.shop_location ul li:first-of-type{
    color: #FF4500;
}


.carlist{
}
.carlist .list_bar{
    font-size: 12px;
    height: 37px;
    box-sizing: border-box;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    background:url(../images/carlist_bg.png);
    font-weight: bold;
    line-height: 37px;
    position: relative;
}
.list_bar span{
    position: absolute;
}
.list_bar span:nth-child(1){
    left: 6px;
}
.list_bar span:nth-child(2){
    left: 544px;
}
.list_bar span:nth-child(3){
    left: 642px;
}
.list_bar span:nth-child(4){
    left: 779px;
}
.list_bar span:nth-child(5){
    left: 927px;
}

.shopcar_list{
}
.shopcar_list .goods_item{
    padding-left: 17px;
    box-sizing: border-box;
    height: 100px;
    border: 1px solid #ddd;
    border-top: 0 none;
    padding-top: 10px;
}
.goods_item img{
    height: 80px;
    width: 80px;
}
.item_msg{
    padding-left: 15px;
    box-sizing: border-box;
    width: 447px;
    font-size: 12px;
    line-height: 17px;
}
.item_msg p:nth-of-type(1){
    color:#0088D6;
    font-weight: bold;
}
.quanity {
    width:98px;
}
.quanity button{
    float: left;
    width:12px;
}
.quanity input{
    float: left;
    width: 27px;
    text-align: center;
}
/* 删除input number上下箭头 */
.quanity input::-webkit-outer-spin-button,
.quanity input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

.price_dv{
    font-size: 12px;
    width:136px;
}
.price_dv p:nth-of-type(2){
    color:#FF4500;
}
.total_dv{
    width: 149px;
}
.total_dv p:nth-of-type(2){
    color:#378D22;
}
.remove{
    width: 50px;
    padding-left: 10px;
    box-sizing: border-box;
}
.remove button{
    width: 15px;
    height: 15px;
    border: 0 none;
}


.car_bottom{
    height: 117px;
    border: 1px solid #ddd;
    border-top: 0 none;
    padding: 0 36px 0 39px;
    position: relative;
}
.car_bottom a.continue_shop{
    position: absolute;
    left:38px;
    top:39px;
    font-size: 12px;
    color:#333333;
}
.car_bottom_rt{
    text-align:right;
    font-size: 12px;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 13px;

}
.car_bottom_rt p:nth-of-type(1) span{
    font-size: 14px;
    color:#FF4500;
    font-weight: bold;
}
.car_bottom_rt p:nth-of-type(2){
    font-size: 12px;
    color:#378D22;
    
}
.checkout_btn{
    width:185px;
    height: 31px;
    border:0 none;
    background:url(../images/checkout_btn.png);
    margin-top: 7px;
}
.checkout_btn:hover{
    cursor: pointer;
}


.hotitems{
    width: 980px;
    height: 265px;
    position: relative;
    overflow: hidden;
}
.hotitems>p:nth-of-type(1){
    line-height: 50px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}
/*更改 梁嫚嫚*/
/*方向按钮*/
.hotitems button {
    position: absolute;
    display: block;
    width: 13px;
    height: 33px;
    top: 50%;
    margin-top: -16px;
    border: none;
    z-index: 4;
    outline: none;
}

.hotitems .hot_prev {
    left:0;
    background: url(../images/arrival_btnp.png) no-repeat;
}
.hotitems .hot_next {
    right: 0;
    background: url(../images/arrival_btnn.png) no-repeat;
}
.hot_list{
    /*width: 954px;*/
    width: 1908px;
    height: 215px;
    position: absolute;
    left: 0px;
    top: 50px;
    padding-left: 26px;
}
.hotlist_item{
    width: 150px;
    float: left;
    padding-left: 9px;
    font-weight: normal;
}
.hotlist_item img{
    width: 110px;
    height: 110px;
}
.hotlist_item p:nth-of-type(1){
    line-height: 17px;
    font-size: 12px;
    width: 132px;

}
.hotlist_item p:nth-of-type(2){
    line-height: 19px;
    font-size: 12px;
}
.hotlist_item p:nth-of-type(2) span:last-child{
    padding-left: 7px;
    color:#FF4500;
}
.hotlist_item button{
    margin-top: 76px;
    height:16px;
    width: 73px;
    border: 0 none;
    background:url(../images/hotitem_add.png);
}